<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.privatal.springbootweb.mapper.EmployeeMapper">
    <select id="getEmpById" resultType="com.privatal.springbootweb.entities.Employee">
        select * from employee where id=#{id}
    </select>
    <delete id="deleteEmpById">
        delete from employee where id=#{id}
    </delete>
    <insert id="insertEmp" useGeneratedKeys="true" keyProperty="id" >
        insert into employee(lastName, email, gender, d_id) VALUES (#{lastName},#{email},#{gender},#{dId})
    </insert>
</mapper>